.App3 {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App3-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App3-header-box{
    margin-top: 10%;
    margin-bottom: 4.5%;
    position: sticky;
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-color: hsla(220, 9%, 46%, .3);
    background-color: rgb(255 255 255);
    padding-top: 1.25rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5rem;
  
    z-index: 20;
  }
  
  .App3-nav-box{
    padding-left: 0;
    padding-right: 0;
    max-width: 80rem;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .App3-nav-div1{
    display: flex;
    align-items: center;
  
    background-color: white;
    width: 100%;
  
    padding-top: 1%;
    padding-bottom: 1.2%;
    position: relative;
    position: fixed;
    z-index: 1;
  
  }
  
  .App3-head-first-box{
    display: flex;
  }
  
  .App3-head-logo-box{
    display: flex;
    align-items: center;
  }
  
  
  
  .App3-head-logo-span{
    position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
  }
  
  .App3-head-logo{
    width: auto;
    height: 1.75rem;
  
  }
  
  img{
    max-width: 100%;
    display: block;
    vertical-align: middle;
  }
  
  .App3-head-words-box{
    display: flex;
    align-items: center;
    margin-left: 40px;
    
  }
  
  .App3-shrink-0{
    flex-shrink: 0;
  }
  
  .App3-shrink-1{
    flex-shrink: 0;
    margin-left: 30px;
  }
  
  .App3-words-box1{
    color: rgb(17 24 39);
    font-weight: 500;
    position: relative;
    font-size: 13px;
    line-height: 1.25rem;
  }
  
  .App3-words-box1:hover{
    color: rgb(80, 80, 251);
  }
  
  .App3-space-x-7{
    --tw-space-x-reverse: 0;
      margin-right: calc(1.75rem* var(--tw-space-x-reverse));
      margin-left: calc(1.75rem* calc(1 - var(--tw-space-x-reverse)));
  }
  
  .App3-words-box-space{
    height: .75rem;
    width: 1px;
    background-color: rgb(156 163 175);
    margin-left: 30px;
  }
  
  
  
  .App3-left-margin{
    margin-left: 30px;
  }
  
  .App3-search-bar{
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    padding-top: 0;
    padding-bottom: 0;
    border-color: rgb(209 213 219);
    border-width: 1px;
    border-radius: 43px;
    display: flex;
    align-items: center;
    height: 35px;
  }
  
  .App3-search-but{
    transition-duration: .3s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-right: -.375rem;
    margin-top: -.125rem;
    margin-bottom: -.125rem;
  }
  
  .App3-search-span{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  .App3-search-pic{
    color: rgb(107 114 128);
    width: .875rem;
    height: .875rem;
  
  }
  
  
  
  .App3-head-second-box{
    display: flex;
    align-items: center;
    margin-left: 25%;
  }
  
  .App3-head-second-box1{
    display: flex;
    margin-right: 0.700rem;
    column-gap: .25rem;
  }
  
  .App3-buyForShow{
    color: rgb(17 24 39);
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .375rem 1.25rem;
    background-color: white;
    border-color: rgb(209 213 219);
    border-width: 1px;
    border-radius: 9999px;
    display: flex;
    cursor: pointer;
  }
  
  button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }
  
  .App3-buyForShow:hover{
    background-color: rgb(191, 187, 187);
  }
  
  .App3-head-third-box{
    margin-right: 0.5rem;
  }
  
  .App3-company-but{
    color: rgb(243 244 246);
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .375rem 1.25rem;
    margin-left: -20%;
    background-color: rgb(134 84 246);
    border-color: transparent;
    border-width: 1px;
    border-radius: 9999px;
    column-gap: .125rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  
  }
  
  .App3-company{
    flex-shrink: 0;
  }
  
  .App3-company-pic{
    height: 20px;

  }

  
  .App3-head-forth-box{
    position: relative;
  }
  
  .App3-profile-but{
    background-color: rgb(255 255 255);
    border-radius: 9999px;
    display: flex;
    cursor: pointer;
  
  }
  
  .App3-head-profile-span{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  .App3-head-profile{
    display: flex;
    flex-shrink: 0;
  }
  
  .App3-profile-part{
    border-color: hsla(220, 9%, 46%, .3);
    border-width: 1px;
    border-radius: 9999px;
    width: 2rem;
    height: 2rem;
    
  }
  
  .App3-navbar {
    border-bottom: 1px solid rgb(198, 183, 183);
    position: fixed;
  
    top: 9%;
    width: 100%;
  
    font-size: 0;
    
    z-index: 20;
  
    
  }
 

  .App10-bodyimg {
    
    margin-top: 10%;

  }

  .App10-bodyimg img {
    margin-left: 48%;
    height: 70px;
  }
  

  .App10-save-succed {

    margin-top: -1%;
    font-size: 24px;
    font-weight: 600;
    line-height: 400%;
    
    }
    
    .App10-save-text {
        
    white-space: pre-wrap;
    font-size: 14px;
    border: 1px solid #141414;
    width: 500px;
    height: 70px;
    background-color: #f9fafb;
    border: none;
    padding-top: 2%;
    margin-left: 33%;
    
    }
    
    .App10-save-btn {
        margin-top: 2%;
        
  }

  .App10-save-btn button {
    border: 1px solid #8654f6;
    background-color: #8654f6;
    color: #ffffff;
    border-radius: 25px;
    padding: 0.7% 1% 0.7% 1%;
    cursor: pointer;
  }

  .App3-footer{
    position: relative;
  
    width: 120%;
    margin: 15% -6%;
    margin-top: 5%;
  
  }
  
  .App3-footer-bar {
  
    border-bottom: 1px solid rgb(186, 178, 178);
    width: 90%;
  
    color: white;
  }
  .App3-footer button {
    
    all: unset;
  }
  
  .App3-footer-cat {
  
    position: absolute;
  
    right: 34%;
    bottom: 3%;
  }
  
  .App3-footer2 {
    display: flex;
    justify-content: space-between;
  
    position: relative;
  
    margin: -13% 6%;
  }
  
  
  .App3-facebook {
    
    position: absolute;
    width: 1.5%;
    left: 2%;
    bottom: -30px;
  }
  
  .App3-youtube {
    position: absolute;
    width: 1.6%;
    left: 5.5%;
    bottom: -30px;
  }
  
  .App3-email {
    position: absolute;
    width: 1.8%;
    left: 9%;
    bottom: -28px;
  }
  
  
  .App3-footer-logo {
    margin: 0px 1%;
  }
  
  .App3-ok-logo {
    width: 80%;
  }
  
  
  .App3-footer-logo h2 {
    font-size: 13px;
    margin-top: -1%;
  }
  
  
  
  
  
  .App3-footer-middle {
  
    position: relative;
  
    
    
  }
  
  .App3-button-one {
    position: absolute;
  
    left: 23%;
    bottom: -160px;
  }
  
  
  .App3-button-two {
    position: absolute;
  
    left: 28%;
    bottom: -160px;
  }
  
  .App3-button-three {
    position: absolute;
  
    left: 33%;
    bottom: -158px;
  }
  
  .App3-button-four {
    position: absolute;
  
    left: 36%;
    bottom: -159px;
  }
  
  .App3-button-five {
    position: absolute;
  
    left: 46%;
    bottom: -158px;
  }
  
  
  .App3-footer-middle button {
    all: unset;
  
    font-size: 14px;
  
  
  }
  
  
  .App3-footer-text {
  
    
    position: relative;
    font-size: 12px;
    
    
  }
  
  .App3-text-one {
    position: absolute;
  
    left: 23%;
    bottom: -210px;
  }
  
  .App3-text-two {
    position: absolute;
  
    left: 23%;
    bottom: -235px;
  }
  
  .App3-text-three {
    position: absolute;
  
    left: 23%;
    bottom: -260px;
  }
  
  .App3-text-four {
    position: absolute;
  
    left: 23%;
    bottom: -280px;
  }
  
  .App3-last-footer {
    display: flex;
    align-items: center;
    justify-content: end;
  
    position: relative;
    
    margin-top: 1%;
  }
  
  .App3-sponse {
    position: absolute;
  
    left: 85%;
    bottom: -150px;
  }
  
  .App3-sponse h2 {
    font-size: 14px;
  }
  
  .App3-iname {
    position: absolute;
  
    left: 80%;
    bottom: -200px;
  }
  
  .App3-ncloud {
    position: absolute;
  
    left: 87%;
    bottom: -193px;
  }
  
  .App3-last-footer img {
    width: 5%;
  }