.App7 {
    text-align: center;
  }
  
  .App7logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App7logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App7-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App7-header-box{
    margin-bottom: 4.5%;
    position: sticky;
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-color: hsla(220, 9%, 46%, .3);
    background-color: rgb(255 255 255);
    padding-top: 1.25rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5rem;
  
    z-index: 20;
  }
  
  .App7-nav-box{
    padding-left: 0;
    padding-right: 0;
    max-width: 80rem;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .App7-nav-div1{
    display: flex;
    align-items: center;
  
    background-color: white;
    width: 100%;
  
    padding-top: 1%;
    padding-bottom: 1.2%;
    position: relative;
    position: fixed;
    z-index: 1;
  
  }
  
  .App7-head-first-box{
    display: flex;
  }
  
  .App7-head-logo-box{
    display: flex;
    align-items: center;
  }
  
  a{
    color: #0090f9;
    text-decoration: inherit;
  }
  
  .App7-head-logo-span{
    position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
  }
  
  .App7-head-logo{
    width: auto;
    height: 1.75rem;
  
  }
  
  img{
    max-width: 100%;
    display: block;
    vertical-align: middle;
  }
  
  .App7-head-words-box{
    display: flex;
    align-items: center;
    margin-left: 40px;
    
  }
  
  .App7-shrink-0{
    flex-shrink: 0;
  }
  
  .App7-shrink-1{
    flex-shrink: 0;
    margin-left: 30px;
  }
  
  .App7-words-box1{
    color: rgb(17 24 39);
    font-weight: 500;
    position: relative;
    font-size: 13px;
    line-height: 1.25rem;
  }
  
  .App7-words-box1:hover{
    color: rgb(80, 80, 251);
  }
  
  .App7-space-x-7{
    --tw-space-x-reverse: 0;
      margin-right: calc(1.75rem* var(--tw-space-x-reverse));
      margin-left: calc(1.75rem* calc(1 - var(--tw-space-x-reverse)));
  }
  
  .App7-words-box-space{
    height: .75rem;
    width: 1px;
    background-color: rgb(156 163 175);
    margin-left: 30px;
  }
  
  
  
  .App7-left-margin{
    margin-left: 30px;
  }
  
  .App7-search-bar{
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    padding-top: 0;
    padding-bottom: 0;
    border-color: rgb(209 213 219);
    border-width: 1px;
    border-radius: 43px;
    display: flex;
    align-items: center;
    height: 35px;
  }
  
  .App7-search-but{
    transition-duration: .3s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-right: -.375rem;
    margin-top: -.125rem;
    margin-bottom: -.125rem;
  }
  
  .App7-search-span{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  .App7-search-pic{
    color: rgb(107 114 128);
    width: .875rem;
    height: .875rem;
  
  }
  
  
  
  .App7-head-second-box{
    display: flex;
    align-items: center;
    margin-left: 25%;
  }
  
  .App7-head-second-box1{
    display: flex;
    margin-right: 0.700rem;
    column-gap: .25rem;
  }
  
  .App7-buyForShow{
    color: rgb(17 24 39);
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .375rem 1.25rem;
    background-color: white;
    border-color: rgb(209 213 219);
    border-width: 1px;
    border-radius: 9999px;
    display: flex;
    cursor: pointer;
  }
  
  button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }
  
  .App7-buyForShow:hover{
    background-color: rgb(191, 187, 187);
  }
  
  .App7-head-third-box{
    margin-right: 0.5rem;
  }
  
  .App7-company-but{
    color: rgb(243 244 246);
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .375rem 1.25rem;
    margin-left: 0%;
    background-color: rgb(134 84 246);
    border-color: transparent;
    border-width: 1px;
    border-radius: 9999px;
    column-gap: .125rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  
  }
  
  .App7-company{
    flex-shrink: 0;
  }
  
  .App7-company-pic{
    height: 20px;

  }

  
  .App7-head-forth-box{
    position: relative;
  }
  
  .App7-profile-but{
    background-color: rgb(255 255 255);
    border-radius: 9999px;
    display: flex;
    cursor: pointer;
  
  }
  
  .App7-head-profile-span{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  .App7-head-profile{
    display: flex;
    flex-shrink: 0;
  }
  
  .App7-profile-part{
    border-color: hsla(220, 9%, 46%, 3);
    border-width: 1px;
    border-radius: 9999px;
    width: 2rem;
    height: 2rem;
    
  }
  
  .App7-navbar {
    border-bottom: 1px solid rgb(198, 183, 183);
    position: fixed;
  
    top: 9%;
    width: 100%;
  
    font-size: 0;
    
    z-index: 20;
  
    
  }  
  
  .App7-category {
    display: flex;
    position: relative;
    
  }
  
  .App7-filter {
    display: flex;
    
  
    border: 0.2px solid rgb(199, 176, 176);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
    background-color: #f9fafb;
  
    font-size: 13px;
    font-weight: 600;
    padding: 17px 70px 16px 45px;
    margin-top: 25%;
  
  
  }
  
  
  
  
  .App7-category-button {
    display: flex;
    position: absolute;
    
    
    left: 8%;
    margin-top: 2.6%;
  
  
    font-size: 13px;
  }
  
  .App7-category button {
    display: flex;
  
    background-color: white;
  
    border: 0.2px solid rgb(214, 194, 194);
  
    width: 100%;
  
    padding:  6% 10% 6% 8%;
  
    font-weight: 600;
  }
  
  .App7-filter-main {
    position: relative;
  
  }
  
  .App7-filter-main img {
    position: absolute;
    bottom: 14px;
    left: 20px;
  }
  
  .App7-position-main {
    position: relative;
  }
  
  .App7-position-main button {
    cursor: pointer;
  }
  
  .App7-position-main img {
    position: absolute;
    bottom: 17px;
    left: 255px;
  
    cursor: pointer;
    width: 7.5%;
  }
  .App7-area {
    position: relative;
    
  }
  
  .App7-area button {
    cursor: pointer;
  }
  
  .App7-area img {
    position: absolute;
    bottom: 16px;
    left: 255px;
    cursor: pointer;  
    width: 7.5%;
  }
  
  .App7-hope-money {
    position: relative;
  }
  
  .App7-hope-money button {
  
    cursor: pointer;
    
  }
  
  .App7-hope-money img {
    position: absolute;
    bottom: 16px;
    left: 255px;  
    cursor: pointer;
    width: 7.5%;
  }
  .App7-jobway {
    position: relative;
  }
  
  .App7-jobway button{
    cursor: pointer;
  }
  
  .App7-jobway img {
    position: absolute;
    bottom: 16px;
    left: 255px;  
    cursor: pointer;
    width: 7.5%;
  }
  .App7-skill {
    position: relative;
  }
  
  .App7-skill button {
    cursor: pointer;
  }
  
  .App7-skill img {
    position: absolute;
    bottom: 16px;
    left: 255px;  
    cursor: pointer;
    width: 7.5%;
  }
  .App7-career {
    position: relative;
  }
  
  .App7-career button {
    cursor: pointer;
  }
  
  .App7-career img {
    position: absolute;
    bottom: 16px;
    left: 255px;  
    cursor: pointer;
    width: 7.5%;
  }
  
  
  .App7-save {
    display: flex;
    
  
    padding: 3% 1% 2% 5%;
    margin: 0px;
    border: 1px solid rgb(199, 176, 176);
    background-color: #f9fafb;
  }
  
  .App7-save1{
    display: flex;
    position: relative;
    border: 1px solid rgb(199, 176, 176);
    border-radius: 5px;
    padding-left: 3%;
    width: 80px;
    height: 34px;
  }
  .App7-saveinput {
  
    width: 50%;
  
    background-color: #f9fafb;
    outline: none;
    border: none;
  
    font-size: 13px;
    font-weight: 700;
  
    padding: 1% 1% 1% 8%;
  
  }
  
  .App7-chk-box {
    width: 18%;
  
    margin-left: 1%;
  
    
  
  }
  
  .App7-questionimg {
    position: absolute;
    left: 25%;
    top: 90.6%;
  
  }
  
  .App7-question {
    border: 0%;
  
    width: 27px;
  }
  
  
  
  .App7-reset1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #8654f6;
    border-color: #8654f6;
  
    margin-left: 18px;
    width: 45px;
    height: 35px;  
  }
  
  .App7-reset2 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #7C3aed;
    border-color: #7C3aed;
  
    margin-left: 1px;
    width: 100px;
    padding-right: 110%;
    height: 35px;  
  }
  
  .App7-resetimg {
    width: 17px;
    padding: 0px 2px;
    margin-top: -30%;
    margin-left: 0.7%;
  }
  
  .App7-filterimg {
    position: absolute;
  
    width: 5%;
    left: 257px;
    top: 368px;
  }
  
  
  .App7-filtersearch {
    position: absolute;
    font-size: 13px;
    font-weight: 700;
  
    color: #ffffff;
    
    top: 90.4%;
    left: 183px;
  }
  
  
  
  .App7-backg {
    position: relative;
    opacity: .05;
    width: 940px;
    height: 130px;
    margin-top: -10px;
    margin-left: 155px;
  }
  
  .App7-textall {
    position: absolute;
    left: 700px;
    top: 115px;
  
    line-height: 150%;
  
    padding: 1% 1% 1% 1%;
  }
  
  .App7-textsearch {
    font-size: 13px;
    outline: none;
    border: none;
  
    
  }
  
  .App7-text1 {
    font-weight: 700;
    font-size: 18px;
  }
  
  .App7-text2 {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 600;
  
    color: gray;
  }
  
  .App7-text3 {
    font-size: 13px;
    font-weight: 600;
  }
  
  .App7-input-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
  
    z-index: auto;
    left: 670px;
    top: 220px;
  
    width: 570px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 25px;
  
  
  }
  
  .App7-xbutton {
    padding: 0px 15px;
  }
  
  .App7-input-bar button {
    background-color: #6d28d9;
    color: white;
  
    border-radius: 25px;
    border: 0.5px solid gray;
  
    padding: 5px 20px;
  }
  .App7-input-search {
    display: flex;
    padding: 0px 5px;
    
  }
  
  .App7-input-search img {
    margin: 0px 10px;
  }
  
  .App7-resetimg {
    position: absolute;
  
    
    left: 135px;
    top: 460px;
  }
  
  .App7-textsearch {
    outline: none;
    border: none;
  
    width: 320px;
  }
  
  .App7-input-search2 {
    display: flex;
    align-items: center;
    padding-right: 8px;
  }
  
  
  .App7-main-bar {
    margin-top: 8%;
    margin-left: 300px;
    
  }
  
  .App7-middle {
    display: flex;
    align-items: center;
    position: relative;
  
  
    margin-left: 30%;
  
    font-size: 8px;
  }
  
  
  .App7-middle input {
    width: 95px;
    height: 30px;
    background-color: #ffffff;
  
    border: 0.App7-3px solid gray;
    border-radius: 5px;
    margin: 20px;
    margin-left: 660%;
  }
  
  
  
  .App7-update {
    position: absolute;
  
    right: 10.5%;
    top: 266px;
    
    font-size: 9px;
  }
  
  
  
  .App7-updateicon {
    position: absolute;
  
    right: 13.3%;
    top: 267px;
  }
  
  .App7-main-img {
    display: table;
    
  
    border: 0.1px solid rgb(210, 198, 198);
    border-radius: 8px;
  
    width: 100%;
  
    margin-left: 30%;
  
    cursor: pointer;
    
  }
  
  .App7-inc-1 img{
    width: 100%;
  }
  
  .App7-main-top {
  
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
  
    margin-top: 3%;
  }
  
  .App7-main-top img {
    width: 60%;
    
    padding-top: 5%;
    padding-left: 30%;
  }
  
  .App7-uniforyou {
    padding-right: 50%;
    font-size: 13px;
  
  }
  
  .App7-sm-text {
    padding-right: 5%;
    font-size: 12px;
  
  }
  .App7-main-middle {
    
    display: flex;
    position: relative;  
    
    border-bottom: 1px solid gray;
    
    padding-top: 2%;
    padding-bottom: 3%;
  
    font-size: 13px;
  
    text-align: left;
  
    padding-right: 10%;
  
  }
  
  .App7-main-team {
  
    padding-left: 6%;
  
  }
  
  .App7-team-bar {
    border-right: 1px solid gray;
  }
  
  .App7-middle-img {
    position: absolute;
  
    left: 42%;
    top: 18%;
  }
  
  .App7-middle-img img {
    width: 40%;
  }
  
  
  
  .App7-main-manager {
  
    padding-left: 7%;
  }
  
  .App7-braket-text {
    display: flex;
  
    font-size: 12px;
  
  }
  
  .App7-barket-java {
  
    padding-top: 1%;
  
  }
  
  .App7-braket-text img {
    width: 40%;
  
    padding-left: 40%;
    padding-top: 10%;
  }
  
  .App7-career-text {
  
    display: flex;
    align-items: center;
    font-size: 11px;
  
    white-space: nowrap;
  
    padding-top: 1%;
  
  }
  
  .App7-career-text img {
    padding-left: 40%;
  
  
    width: 40%;
  }
  
  .App7-pay-text {
    display: flex;
  
    white-space: nowrap;
  
    font-size: 11px;
    padding-top: 1%;
    padding-bottom: 2%;
  }
  
  .App7-pay-text img {
    width: 40%;
  
    padding-left: 40%;
  }
  
  .App7-main-body {
    width: 1500px;
      display: flex;
      margin-left: 18%;
      margin-bottom: 2.5%;
  }
  .App7-first {
    
    margin-left: 7%;
    margin-right: 2%;
    width: 288px;
    box-sizing: border-box;
  }
  
  .App7-second {
    margin-right: 2%;
    width:288px;
    box-sizing: border-box;
  }
  
  .App7-third {
      width:288px;
      box-sizing: border-box;
  }
  
  .App7-pagebutton {
    position: relative;
    width: 110%;
  }
  
  .App7-bottom-left {
  
    display: flex;
    
  
    position: absolute;
  
    left: 200px;
    bottom: -28px;
  }
  
  .App7-bottom-left span {
  
    position: absolute;
  
    left: 420px;
    bottom: 5px;
    color: rgb(186, 178, 178);
  }
  
  .App7-bottom-left img {
    width: 2%;
  
    opacity: .20;
    margin: 0px 140px;
  
  }
  
  
  .App7-right-button {
    display: flex;
    
    position: relative;
    
    /* left: 1000px; */
    bottom: -20px;
  }
  
  .App7-rightmove {
    width: 1.3%;
  
    position: absolute;
  
    left: 450px;
    bottom: -110px;
  }
  
  .App7-right-page {
    position: absolute;
  
    left: 405px;
    bottom: -110px;
  }
  
  .App7-paging {
    display: flex;
    position: absolute;
  
  
    left: 900px;
    bottom: -132px;
  }
  
  .App7-line-page {
    position: absolute;
  
    border-bottom: 1px solid #141414;
  
    width: 53.3%;
    left: 585px;
    bottom: -95px;
    
  }
  
  .App7-line-page button {
    all: unset;
  }
  
  .App7-paging button {
  
    background-color: white;
  
    margin: 0px 5px;
  
    border: none;
  }
  
  .App7-footer{
    position: relative;
  
    width: 100%;
    margin: 15% 0px;
    
  }
  
  .App7-footer-bar {
  
    border-bottom: 1px solid rgb(186, 178, 178);
    width: 100%;
  
    margin-top: -7%;
    color: white;
  }
  .App7-footer button {
    
    all: unset;
  }
  
  .App7-footer-cat {
  
    position: absolute;
  
    right: 25%;
    bottom: 3%;
  }
  
  .App7-footer2 {
    display: flex;
    justify-content: space-between;
  
    position: relative;
  
    margin: -13% 6%;
  }
  
  
  .App7-facebook {
    
    position: absolute;
    width: 1.5%;
    left: 2%;
    bottom: -30px;
  }
  
  .App7-youtube {
    position: absolute;
    width: 1.6%;
    left: 5.5%;
    bottom: -30px;
  }
  
  .App7-email {
    position: absolute;
    width: 1.8%;
    left: 9%;
    bottom: -28px;
  }
  
  
  .App7-footer-logo {
    margin: 0px 1%;
  }
  
  .App7-ok-logo {
    width: 80%;
  }
  
  
  .App7-footer-logo h2 {
    font-size: 13px;
    margin-top: -1%;
  }
  
  
  
  
  
  .App7-footer-middle {
  
    position: relative;
  
    
    
  }
  
  .App7-button-one {
    position: absolute;
  
    left: 23%;
    bottom: -160px;
  }
  
  
  .App7-button-two {
    position: absolute;
  
    left: 28%;
    bottom: -160px;
  }
  
  .App7-button-three {
    position: absolute;
  
    left: 33%;
    bottom: -158px;
  }
  
  .App7-button-four {
    position: absolute;
  
    left: 36%;
    bottom: -159px;
  }
  
  .App7-button-five {
    position: absolute;
  
    left: 46%;
    bottom: -158px;
  }
  
  
  .App7-footer-middle button {
    all: unset;
  
    font-size: 14px;
  
  
  }
  
  
  .App7-footer-text {
  
    
    position: relative;
    font-size: 12px;
    
    
  }
  
  .App7-text-one {
    position: absolute;
  
    left: 23%;
    bottom: -210px;
  }
  
  .App7-text-two {
    position: absolute;
  
    left: 23%;
    bottom: -235px;
  }
  
  .App7-text-three {
    position: absolute;
  
    left: 23%;
    bottom: -260px;
  }
  
  .App7-text-four {
    position: absolute;
  
    left: 23%;
    bottom: -280px;
  }
  
  .App7-last-footer {
    display: flex;
    align-items: center;
    justify-content: end;
  
    position: relative;
  }
  
  .App7-sponse {
    position: absolute;
  
    left: 85%;
    bottom: -150px;
  }
  
  .App7-sponse h2 {
    font-size: 14px;
  }
  
  .App7-iname {
    position: absolute;
  
    left: 80%;
    bottom: -200px;
  }
  
  .App7-ncloud {
    position: absolute;
  
    left: 87%;
    bottom: -193px;
  }
  
  .App7-last-footer img {
    width: 5%;
  }